<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>dry-stone-layout test</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../dry-stone-layout.html">
  </head>
  <body>
    <test-fixture id="basic">
      <template>
        <dry-stone-layout></dry-stone-layout>
      </template>
    </test-fixture>

    <script>
      suite('dry-stone-layout', function() {
        test('instantiating the element works', function() {
          var element = fixture('basic');
          assert.equal(element.is, 'dry-stone-layout');
        });

        // TODO: test for:
        //       loading flag being removed
        //       layout positions (known child sizes + container width)
        //       position updates after changes to child dom (via dom + dom-repeat)
      });
    </script>
  </body>
</html>
